* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  scroll-behavior: smooth; }

main.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px minmax(400px, auto) 350px; }
  @media screen and (max-width: 1200px) {
    main.container {
      grid-template-columns: 60px minmax(400px, auto) 350px; } }
  @media screen and (max-width: 992px) {
    main.container {
      grid-template-columns: 60px 1fr; } }
  @media screen and (max-width: 525px) {
    main.container {
      grid-template-columns: 1fr; } }

.leftside {
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 525px) {
    .leftside {
      height: 60px;
      width: 100%;
      flex-direction: row;
      position: fixed;
      bottom: 0;
      background: white; } }
  .leftside-inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0; }
    @media screen and (max-width: 1200px) {
      .leftside-inner {
        align-items: center; } }
    @media screen and (max-width: 525px) {
      .leftside-inner {
        height: 60px;
        flex-direction: row; } }
    .leftside-inner .logo {
      margin-top: 5px;
      margin-bottom: 15px;
      padding-left: 15px; }
      @media screen and (max-width: 1200px) {
        .leftside-inner .logo {
          padding-left: 0px; } }
      @media screen and (max-width: 525px) {
        .leftside-inner .logo {
          display: none; } }
      .leftside-inner .logo a {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .leftside-inner .logo a:hover {
          background-color: #e6f3fc; }
        .leftside-inner .logo a svg {
          fill: #1da1f2;
          width: 27px;
          height: 27px; }
    .leftside-inner .menu {
      flex: 1; }
      @media screen and (max-width: 1200px) {
        .leftside-inner .menu ul {
          display: flex;
          flex-direction: column;
          align-items: center; } }
      @media screen and (max-width: 525px) {
        .leftside-inner .menu ul {
          flex-direction: row;
          justify-content: space-between; } }
      .leftside-inner .menu ul li {
        padding-left: 10px;
        cursor: pointer; }
        @media screen and (max-width: 1200px) {
          .leftside-inner .menu ul li {
            padding-left: 0px; } }
        @media screen and (max-width: 525px) {
          .leftside-inner .menu ul li:nth-of-type(6) {
            display: none; }
          .leftside-inner .menu ul li:nth-of-type(7) {
            display: none; }
          .leftside-inner .menu ul li:nth-of-type(8) {
            display: none; }
          .leftside-inner .menu ul li:nth-of-type(9) {
            display: none; } }
        .leftside-inner .menu ul li:not(:nth-of-type(10)) a {
          padding-left: 15px; }
          @media screen and (max-width: 1200px) {
            .leftside-inner .menu ul li:not(:nth-of-type(10)) a {
              padding-left: 0px; } }
        .leftside-inner .menu ul li a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          padding-right: 25px;
          height: 50px;
          border-radius: 30px; }
          @media screen and (max-width: 1200px) {
            .leftside-inner .menu ul li a {
              justify-content: center;
              width: 50px;
              padding-right: initial; } }
          .leftside-inner .menu ul li a svg {
            width: 27px;
            height: 27px; }
          .leftside-inner .menu ul li a span {
            color: #0f1419;
            margin-left: 20px;
            font-size: 18px;
            font-weight: 700; }
            @media screen and (max-width: 1200px) {
              .leftside-inner .menu ul li a span {
                display: none; } }
        .leftside-inner .menu ul li:nth-of-type(10) {
          padding-left: 10px; }
          @media screen and (max-width: 1200px) {
            .leftside-inner .menu ul li:nth-of-type(10) {
              padding-left: 0px; } }
          .leftside-inner .menu ul li:nth-of-type(10) a {
            padding-right: 0; }
            @media screen and (max-width: 1200px) {
              .leftside-inner .menu ul li:nth-of-type(10) a {
                padding-left: 0px; } }
            .leftside-inner .menu ul li:nth-of-type(10) a#writetext {
              background-color: #1da1f2;
              margin-top: 10px;
              width: 200px;
              height: 44px;
              border-radius: 22px;
              color: white;
              font-size: 14px;
              font-weight: 700;
              display: flex;
              justify-content: center;
              align-items: center; }
              @media screen and (max-width: 1200px) {
                .leftside-inner .menu ul li:nth-of-type(10) a#writetext {
                  display: none; } }
              .leftside-inner .menu ul li:nth-of-type(10) a#writetext:hover {
                background-color: #1989ce; }
            .leftside-inner .menu ul li:nth-of-type(10) a#writeicon {
              display: none; }
              @media screen and (max-width: 1200px) {
                .leftside-inner .menu ul li:nth-of-type(10) a#writeicon {
                  background-color: #1da1f2;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 46px;
                  height: 46px;
                  margin-top: 10px; }
                  .leftside-inner .menu ul li:nth-of-type(10) a#writeicon:hover {
                    background-color: #1989ce; }
                  .leftside-inner .menu ul li:nth-of-type(10) a#writeicon svg {
                    fill: white; } }
              @media screen and (max-width: 525px) {
                .leftside-inner .menu ul li:nth-of-type(10) a#writeicon {
                  width: 60px;
                  height: 60px;
                  margin-top: 0;
                  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4); } }
          @media screen and (max-width: 525px) {
            .leftside-inner .menu ul li:nth-of-type(10) {
              position: fixed;
              right: 15px;
              bottom: 70px; } }
        .leftside-inner .menu ul li#search {
          display: none; }
          @media screen and (max-width: 1200px) {
            .leftside-inner .menu ul li#search {
              display: block; } }
        @media screen and (max-width: 1200px) {
          .leftside-inner .menu ul li#explore {
            display: none; } }
        .leftside-inner .menu ul li:hover a {
          background-color: #e6f3fc; }
          .leftside-inner .menu ul li:hover a svg {
            fill: #1da1f2; }
          .leftside-inner .menu ul li:hover a span {
            color: #1da1f2; }
        .leftside-inner .menu ul li.menu-active a svg {
          fill: #1da1f2; }
        .leftside-inner .menu ul li.menu-active a span {
          color: #1da1f2; }
    .leftside-inner .user {
      margin-bottom: 10px; }
      @media screen and (max-width: 1200px) {
        .leftside-inner .user a .h-wrapper, .leftside-inner .user a svg {
          display: none; } }
      @media screen and (max-width: 525px) {
        .leftside-inner .user {
          display: none; } }
      .leftside-inner .user a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 98%;
        border-radius: 30px;
        padding: 0 10px; }
        .leftside-inner .user a:hover {
          background-color: #e6f3fc; }
        .leftside-inner .user a img {
          width: 40px;
          height: 40px;
          border-radius: 50%; }
        .leftside-inner .user a .h-wrapper {
          flex: 1;
          margin-left: 10px;
          color: #0f1419; }
          .leftside-inner .user a .h-wrapper h2 {
            font-size: 15px;
            font-weight: 700; }
          .leftside-inner .user a .h-wrapper h4 {
            font-size: 15px;
            font-weight: 400;
            opacity: 0.5; }
        .leftside-inner .user a svg {
          width: 20px;
          height: 20px; }

.mainside {
  background-color: #f3f1f1;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .mainside .mainside-header {
    cursor: pointer;
    position: sticky;
    top: 0;
    padding: 5px 15px;
    background-color: #fff;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .mainside .mainside-header h2 {
      font-weight: 700;
      font-size: 18px; }
    .mainside .mainside-header a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%; }
      .mainside .mainside-header a:hover {
        background-color: #e6f3fc; }
      .mainside .mainside-header a svg {
        width: 24px;
        fill: #1da1f2; }
  .mainside .mainside-form {
    background-color: #fff;
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; }
    .mainside .mainside-form > a img {
      width: 48px;
      height: 48px;
      border-radius: 50%; }
    .mainside .mainside-form .post {
      flex: 1;
      margin-left: 10px; }
      .mainside .mainside-form .post textarea {
        width: 100%;
        resize: none;
        min-height: 50px;
        max-height: 80px;
        outline: none;
        padding-left: 20px;
        padding-top: 12px;
        overflow: hidden;
        border: none;
        font-size: 20px; }
        @media screen and (max-width: 525px) {
          .mainside .mainside-form .post textarea {
            padding-left: 10px; } }
        .mainside .mainside-form .post textarea::-moz-placeholder {
          font-size: 20px;
          font-weight: 400;
          color: rgba(15, 20, 25, 0.6); }
        .mainside .mainside-form .post textarea:-ms-input-placeholder {
          font-size: 20px;
          font-weight: 400;
          color: rgba(15, 20, 25, 0.6); }
        .mainside .mainside-form .post textarea::placeholder {
          font-size: 20px;
          font-weight: 400;
          color: rgba(15, 20, 25, 0.6); }
      .mainside .mainside-form .post .mainside-icons {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .mainside .mainside-form .post .mainside-icons .inner {
          display: flex;
          align-items: center;
          padding-left: 13px; }
          @media screen and (max-width: 525px) {
            .mainside .mainside-form .post .mainside-icons .inner {
              padding-left: 0; } }
          .mainside .mainside-form .post .mainside-icons .inner input[type="file"] {
            display: none; }
          .mainside .mainside-form .post .mainside-icons .inner label {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center; }
            .mainside .mainside-form .post .mainside-icons .inner label:hover {
              background-color: #e6f3fc; }
            .mainside .mainside-form .post .mainside-icons .inner label svg {
              width: 22.5px;
              height: 22.5px;
              fill: #1da1f2; }
          .mainside .mainside-form .post .mainside-icons .inner a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center; }
            .mainside .mainside-form .post .mainside-icons .inner a:hover {
              background-color: #e6f3fc; }
            .mainside .mainside-form .post .mainside-icons .inner a svg {
              width: 22.5px;
              height: 22.5px;
              fill: #1da1f2; }
        .mainside .mainside-form .post .mainside-icons > a {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #8ed0f8;
          color: white;
          width: 74px;
          height: 40px;
          border-radius: 40px;
          cursor: default; }
  .mainside .mainside-posts {
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .mainside .mainside-posts:hover {
      background-color: #f7f9fa; }
    .mainside .mainside-posts .user a {
      display: flex;
      padding-top: 10px; }
      .mainside .mainside-posts .user a img {
        width: 48px;
        height: 48px;
        border-radius: 50%; }
    .mainside .mainside-posts .post-details {
      flex: 1;
      margin-left: 10px; }
      .mainside .mainside-posts .post-details .user-info {
        display: flex;
        flex-direction: column; }
        .mainside .mainside-posts .post-details .user-info .username {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(1) {
            display: flex;
            align-items: center; }
            .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(1) h3 {
              color: #0f1419;
              font-size: 15px;
              font-weight: 700;
              margin-right: 5px;
              display: flex;
              align-items: center; }
              .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(1) h3:hover {
                text-decoration: underline; }
              .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(1) h3 > span {
                display: flex;
                margin-left: 5px; }
                .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(1) h3 > span svg {
                  width: 16.41px;
                  height: 16.41px;
                  fill: #1da1f2; }
            .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(1) > span {
              font-size: 15px;
              color: #5b7083;
              margin-right: 5px; }
              @media screen and (max-width: 525px) {
                .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(1) > span:nth-child(2) {
                  display: none; } }
          .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 50%; }
            .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(2):hover {
              background-color: #e6f3fc; }
            .mainside .mainside-posts .post-details .user-info .username a:nth-of-type(2) svg {
              width: 18.75px;
              height: 18.75px; }
        .mainside .mainside-posts .post-details .user-info .user-post-content p {
          font-size: 15px;
          color: #0f1419;
          margin-bottom: 4px; }
          .mainside .mainside-posts .post-details .user-info .user-post-content p a {
            color: #1da1f2; }
            .mainside .mainside-posts .post-details .user-info .user-post-content p a:hover {
              text-decoration: underline; }
        .mainside .mainside-posts .post-details .user-info .user-post-content img {
          width: 100%;
          border-radius: 10px;
          margin-top: 10px; }
      .mainside .mainside-posts .post-details .post-icons ul {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .mainside .mainside-posts .post-details .post-icons ul li {
          display: flex;
          align-items: center; }
          .mainside .mainside-posts .post-details .post-icons ul li:hover a {
            background-color: #e6f3fc; }
          .mainside .mainside-posts .post-details .post-icons ul li:nth-of-type(1):hover a svg {
            fill: #1da1f2; }
          .mainside .mainside-posts .post-details .post-icons ul li:nth-of-type(1):hover span {
            color: #1da1f2; }
          .mainside .mainside-posts .post-details .post-icons ul li:nth-of-type(2):hover a svg {
            fill: green; }
          .mainside .mainside-posts .post-details .post-icons ul li:nth-of-type(2):hover span {
            color: green; }
          .mainside .mainside-posts .post-details .post-icons ul li:nth-of-type(3):hover a svg {
            fill: crimson; }
          .mainside .mainside-posts .post-details .post-icons ul li:nth-of-type(3):hover span {
            color: crimson; }
          .mainside .mainside-posts .post-details .post-icons ul li:nth-of-type(4):hover a svg {
            fill: #1da1f2; }
          .mainside .mainside-posts .post-details .post-icons ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 5px; }
            .mainside .mainside-posts .post-details .post-icons ul li a svg {
              width: 18px;
              fill: #5b7083; }
          .mainside .mainside-posts .post-details .post-icons ul li span {
            font-size: 12px;
            color: #5b7083; }

.rightside {
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 992px) {
    .rightside {
      display: none; } }
  .rightside-inner {
    margin-top: 10px;
    position: sticky;
    top: 10px; }
    .rightside-inner .input {
      margin-bottom: 15px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      position: relative; }
      .rightside-inner .input input {
        width: 100%;
        height: 100%;
        outline: 0;
        border: 1px solid #ebeef0;
        background-color: #ebeef0;
        border-radius: 40px;
        padding-left: 50px; }
        .rightside-inner .input input::-moz-placeholder {
          font-size: 16px;
          color: gray; }
        .rightside-inner .input input:-ms-input-placeholder {
          font-size: 16px;
          color: gray; }
        .rightside-inner .input input::placeholder {
          font-size: 16px;
          color: gray; }
        .rightside-inner .input input:focus {
          border-color: #1da1f2;
          background-color: #fff; }
          .rightside-inner .input input:focus + svg {
            fill: #1da1f2; }
      .rightside-inner .input svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        height: 20px;
        fill: gray; }
    .rightside-inner .trend {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      background-color: #f7f9fa;
      border-radius: 10px; }
      .rightside-inner .trend .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 5px 10px 5px 10px; }
        .rightside-inner .trend .header h2 {
          font-size: 20px; }
        .rightside-inner .trend .header a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 37px;
          height: 37px;
          border-radius: 50%; }
          .rightside-inner .trend .header a:hover {
            background-color: #e6f3fc; }
          .rightside-inner .trend .header a svg {
            width: 22.5px;
            fill: #1da1f2; }
      .rightside-inner .trend .content .card {
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        .rightside-inner .trend .content .card .card-info span {
          font-size: 13px;
          color: #5b7083; }
        .rightside-inner .trend .content .card .card-info h2 {
          color: #0f1419;
          font-size: 15px;
          font-weight: 700; }
        .rightside-inner .trend .content .card .card-icon {
          align-self: flex-start; }
          .rightside-inner .trend .content .card .card-icon a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 37px;
            height: 37px;
            border-radius: 50%; }
            .rightside-inner .trend .content .card .card-icon a:hover {
              background-color: rgba(29, 162, 241, 0.1); }
            .rightside-inner .trend .content .card .card-icon a svg {
              width: 20px; }
        .rightside-inner .trend .content .card:hover {
          background-color: #ebeef0; }
      .rightside-inner .trend .footer:hover {
        background-color: #ebeef0;
        border-radius: 0 0 10px 10px; }
      .rightside-inner .trend .footer a {
        color: #1da1f2;
        display: block;
        padding: 15px 10px 15px 10px; }
      .rightside-inner .trend.follow {
        margin-top: 25px; }
        .rightside-inner .trend.follow .header {
          padding: 10px; }
        .rightside-inner .trend.follow .content .card > img {
          width: 48px;
          height: 48px;
          border-radius: 50%; }
        .rightside-inner .trend.follow .content .card .card-info {
          flex: 1;
          margin-left: 10px; }
          .rightside-inner .trend.follow .content .card .card-info h2 svg {
            width: 16.5px;
            fill: #1da1f2;
            vertical-align: bottom; }
          .rightside-inner .trend.follow .content .card .card-info h2:hover {
            text-decoration: underline; }
        .rightside-inner .trend.follow .content .card .card-icon {
          align-self: center; }
          .rightside-inner .trend.follow .content .card .card-icon a {
            color: #1da1f2;
            font-weight: 700;
            padding: 6px 12px;
            border-radius: 20px;
            border: 1px solid #1da1f2;
            width: 80px;
            height: 32px; }
    .rightside-inner .rightside-footer {
      margin-top: 15px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      padding-bottom: 15px; }
      .rightside-inner .rightside-footer ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 15px; }
        .rightside-inner .rightside-footer ul li a {
          color: #5b7083;
          font-size: 13px; }
          .rightside-inner .rightside-footer ul li a:hover {
            text-decoration: underline; }

.messages-chat {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 25px;
  border-radius: 18px 18px 0 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 300px;
  height: 50px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4); }
  @media screen and (min-width: 1000px) {
    .messages-chat {
      right: 80px; } }
  @media screen and (max-width: 768px) {
    .messages-chat {
      display: none; } }
  .messages-chat > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer; }
    .messages-chat > section span {
      font-size: 14px;
      font-weight: 700;
      color: #1da1f2; }
    .messages-chat > section .messages-icons {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .messages-chat > section .messages-icons a {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: center;
        justify-content: center; }
        .messages-chat > section .messages-icons a:hover {
          background-color: #e6f3fc; }
        .messages-chat > section .messages-icons a svg {
          fill: #1da1f2;
          width: 20px; }
