 $mainblue:#1da1f2;
 $passiveblue: #8ed0f8;
 $hovercolor:#e6f3fc;
 $fontcolor:rgb(15, 20, 25);
 $inputgray:#ebeef0;
 $bodygray:#f7f9fa;
 
 * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }
 html {
    scroll-behavior: smooth;
 }
 main.container {
    max-width:1240px;
    margin-left:auto;
    margin-right:auto;
    min-height:100vh;
    display: grid;
    grid-template-columns: 250px minmax(400px, auto) 350px;
   @media screen and (max-width:1200px) {
      grid-template-columns: 60px minmax(400px, auto) 350px;;
   } 
   @media screen and (max-width:992px) {
      grid-template-columns: 60px 1fr;
   }
 }
 .leftside {
    border-right:1px solid rgba($color: #000000, $alpha: 0.1);
   &-inner {
      height:100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: sticky;
      top: 0;
      @media screen and (max-width:1200px) {
        align-items: center;
      }
      .logo {
         margin-top:5px;
         margin-bottom:15px;
         padding-left:15px;
         @media screen and (max-width:1200px) {
           padding-left:0px; 
        }
         a {
            width:45px;
            height:45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
               background-color: $hovercolor;
            }
           svg {
              fill:$mainblue;
              width:27px;
              height:27px;
           }
         }
      }
      .menu {
         flex:1;
         ul {
           @media screen and (max-width:1200px) {
              display: flex;
              flex-direction: column;
              align-items: center;
           }
           
            li {
               padding-left:10px;
               cursor: pointer;
               @media screen and (max-width:1200px) {
                 padding-left:0px;
              }
               &:not(:nth-of-type(10)) {
                 a {
                    padding-left:15px;
                    @media screen and (max-width:1200px) {
                       padding-left:0px;
                    }
                 }
               }
               a {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  @media screen and (max-width:1200px) {
                    justify-content: center;
                    width:50px;
                    padding-right: initial;
                 }
                  width: fit-content;
                  padding-right: 25px;
                  height:50px;
                  border-radius: 30px;
                  
                 svg {
                    width:27px;
                    height:27px;
                  }
                  span {
                     color:$fontcolor;
                     margin-left:20px;
                     font-size: 18px;
                     font-weight: 700;
                     @media screen and (max-width:1200px) {
                        display:none;
                     }
                  }
               }
               &:nth-of-type(10) {
                 padding-left:10px;
                 @media screen and (max-width:1200px) {
                    padding-left:0px;
                 }
                  a {
                     padding-right: 0;
                    @media screen and (max-width:1200px) {
                       padding-left:0px;
                    }
                     &#writetext {
                       background-color: $mainblue;
                       margin-top:10px;
                       width:200px;
                       height:44px;
                       border-radius: 22px;
                       color:white;
                       font-size: 14px;
                       font-weight: 700;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       @media screen and (max-width:1200px) {
                         display: none;
                      }
                       &:hover {
                          background-color: rgb(25, 137, 206);
                       }
                     }
                     &#writeicon {
                        display:none;
                        @media screen and (max-width:1200px) {
                          background-color: $mainblue;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          width:46px;
                          height: 46px;
                          margin-top:10px;
                          &:hover {
                             background-color: rgb(25, 137, 206);
                          }
                          svg {
                             fill:white;
                          }
                       }
                     }
                  }
               }
               &#search {
                  display: none;
                  @media screen and (max-width:1200px) {
                     display: block;
                  }
               }
               &#explore {
                 @media screen and (max-width:1200px) {
                    display: none;
                 }
              }
              &:hover {
                 a {
                    background-color: $hovercolor;
                    svg {
                       fill:$mainblue;
                    }
                    span {
                       color:$mainblue;
                    }
                 }
              }
              &.menu-active {
               a {
                  svg {
                     fill:$mainblue;
                  }
                  span {
                     color:$mainblue;
                  }
               }
              }
            }
         }
      }
      .user {
         margin-bottom:10px;
         @media screen and (max-width:1200px) {
           a {
              .h-wrapper, svg {
                 display:none;
              }
           }
        }
         a {
            display:flex;
            justify-content: space-between;
            align-items: center;
            height:60px;
            width:98%;
            border-radius: 30px;
            padding:0 10px;
            &:hover {
               background-color:$hovercolor;
            }
            img {
               width:40px;
               height:40px;
               border-radius: 50%;
  
            }
            .h-wrapper {
               flex:1;
               margin-left:10px;
               color:$fontcolor;
               h2 {
                  font-size: 15px;
                  font-weight: 700;
               }
               h4 {
                 font-size: 15px;
                 font-weight: 400;
                 opacity:0.5;
              }
            }
            svg {
              width:20px;
              height:20px;
            }
         }
      }
   }
 }
 .mainside {
    background-color: rgb(243, 241, 241);
    border-right:1px solid rgba($color: #000000, $alpha: 0.1);
    .mainside-header {
       cursor: pointer;
       position: sticky;
       top:0;
       padding:5px 15px;
       background-color: #fff;
       z-index: 100;
       display: flex;
       justify-content: space-between;
       align-items: center;
       border-bottom:1px solid rgba($color: #000000, $alpha: 0.1);
       h2 {
         font-weight: 700;
         font-size: 18px;
       }
       a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          &:hover {
             background-color: $hovercolor;
          }
          svg {
             width:24px;
             fill:$mainblue;
          }
       }
    }
    .mainside-form {
       background-color: #fff;
       display: flex;
       padding:10px 15px;
       border-bottom:1px solid rgba($color: #000000, $alpha: 0.1);
       margin-bottom:15px;
       >a {
         img {
            width:48px;
            height:48px;
            border-radius: 50%;
         }
       }
       .post {
          flex:1;
          margin-left:10px;
          textarea {
             width:100%;
             resize: none;
             min-height:50px;
             max-height: 80px;
             outline: none;
             padding-left:20px;
             padding-top:12px;
             overflow:hidden;
             border:none;
             font-size: 20px;
             &::placeholder {
               font-size: 20px;
               font-weight: 400;
               color: rgba($color: $fontcolor, $alpha: 0.6);
             }
          }
          .mainside-icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .inner {
               display: flex;
               align-items: center;
               padding-left:13px;

                input[type="file"] {
                   display: none;
                }
                label {
                   cursor: pointer;
                   width:40px;
                   height: 40px;
                   border-radius: 50%;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   &:hover {
                      background-color: $hovercolor;
                   }
                   svg {
                      width:22.5px;
                      height:22.5px;
                      fill:$mainblue;
                   }
                }
                a {
                  width:40px;
                  height: 40px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &:hover {
                     background-color: $hovercolor;
                  }
                   svg {
                     width:22.5px;
                     height:22.5px;
                     fill:$mainblue;
                   }
                }
            }
            >a {
               display: flex;
               align-items: center;
               justify-content: center;
               background-color: $passiveblue;
               color: white;
               width: 74px;
               height: 40px;
               border-radius: 40px;
               cursor:default;
            }
          }
       }
    }
    .mainside-posts {
       background-color: #fff;
       display: flex;
       align-items: flex-start;
       justify-content: space-between;
       cursor: pointer;
       padding: 5px 20px 5px 20px;
       border-bottom:1px solid rgba($color: #000000, $alpha: 0.1);
       &:hover {
          background-color: $bodygray;
       }
       .user {
          a {
             display: flex;
             padding-top: 10px;
            img {
               width:48px;
               height:48px;
               border-radius: 50%;
             }
          }
       }
       .post-details {
          flex:1;
          margin-left:10px;
          .user-info {
            display: flex;
            flex-direction: column;
            .username {
               display: flex;
               align-items: center;
               justify-content: space-between;
               a {
                  &:nth-of-type(1) {
                     display: flex;
                     align-items: center;
                     h3 {
                        color: $fontcolor;
                        font-size: 15px;
                        font-weight: 700;
                        margin-right: 5px;
                        display: flex;
                        align-items: center;
                        &:hover {
                           text-decoration: underline;
                        }
                        > span {
                           display: flex;
                           margin-left:5px;
                           svg {
                              width:16.41px;
                              height: 16.41px;
                              fill:$mainblue;
                           }
                        }
                     }
                     >span {
                        font-size: 15px;
                        color:rgb(91, 112, 131);
                        margin-right: 5px;
                     }
                  }
                  &:nth-of-type(2) {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 35px;
                      height: 35px;
                      border-radius: 50%;
                      &:hover {
                         background-color: $hovercolor;
                      }
                     svg {
                        width:18.75px;
                        height: 18.75px;
                     }
                  }
               }
            }
            .user-post-content {
               p{
                  font-size: 15px;
                  color: $fontcolor;
                  margin-bottom: 4px;
                  a {
                     color: $mainblue;
                     &:hover {
                        text-decoration: underline;
                     }
                  }
               }
               img {
                  width:100%;
                  border-radius: 10px;
                  margin-top:10px;
               }
            }
          }
          .post-icons {
             ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                li {
                  display: flex;
                  align-items: center;
                  &:hover {
                     a {
                        background-color: $hovercolor;
                     }
                  }
                  &:nth-of-type(1) {
                     &:hover {
                        a {
                           svg {
                              fill: $mainblue;
                           }
                        }
                        span {
                           color:$mainblue;
                        }
                     }
                  }
                  &:nth-of-type(2) {
                     &:hover {
                        a {
                           svg {
                              fill: green;
                           }
                        }
                        span {
                           color:green;
                        }
                     }
                  }
                  &:nth-of-type(3) {
                     &:hover {
                        a {
                           svg {
                              fill: crimson;
                           }
                        }
                        span {
                           color:crimson;
                        }
                     }
                  }
                  &:nth-of-type(4) {
                     &:hover {
                        a {
                           svg {
                              fill: $mainblue;
                           }
                        }
                     }
                  }
                  
                   a {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 35px;
                      height: 35px;
                      border-radius: 50%;
                      margin-right:5px;
                     svg {
                        width:18px;
                        fill:rgb(91, 112, 131);
                     }
                   }
                   span {
                      font-size: 12px;
                      color:rgb(91, 112, 131);
                   }
                }
             }
          }
       }
    }
 } 
 .rightside {
   border-right:1px solid rgba($color: #000000, $alpha: 0.1);
    @media screen and (max-width:992px) {
      display: none;
   }
   &-inner {
      margin-top:10px;
      position:sticky;
      top:10px;
      .input {
         margin-bottom:15px;
         width:95%;
         margin-left:auto;
         margin-right:auto;
         height:50px;
         position: relative;
         input {
            width:100%;
            height:100%;
            outline:0;
            border:1px solid $inputgray;
            background-color: $inputgray;
            border-radius: 40px;
            padding-left:50px;
            &::placeholder {
               font-size: 16px;
               color:gray;
            }
            &:focus {
               border-color: $mainblue;
               background-color: #fff;
               + svg {
                  fill:$mainblue;
               }
            }
         }
         svg {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left:20px;
            height:20px;
            fill:gray;
         }
      }
      .trend {
         width:95%;
         margin-left:auto;
         margin-right:auto;
         background-color: $bodygray;
         border-radius: 10px;
         .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            padding:5px 10px 5px 10px;
            h2 {
               font-size: 20px;
            }
            a {
               display: flex;
               justify-content: center;
               align-items: center;
               width: 37px;
               height: 37px;
               border-radius: 50%;
               &:hover {
                  background-color: $hovercolor;
               }
               svg {
                  width:22.5px;
                  fill:$mainblue;
               }
            }
         }
         .content {
            .card {
               padding:10px;
               cursor: pointer;
               display:flex;
               align-items: center;
               justify-content: space-between;
               padding-top:10px;
               padding-bottom:10px;
               border-bottom:1px solid rgba($color: #000000, $alpha: 0.1);
               .card-info {
                  span {
                     font-size: 13px;
                     color:rgb(91, 112, 131);
                  }
                  h2 {
                     color:$fontcolor;
                     font-size: 15px;
                     font-weight: 700;
                  }
               }
               .card-icon {
                  align-self: flex-start;
                  a {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 37px;
                     height: 37px;
                     border-radius: 50%;
                     &:hover {
                        background-color: rgba(29, 162, 241, 0.1);
                     }
                     svg {
                        width:20px;
                     }
                  }
               }
               &:hover {
                  background-color: $inputgray;
               }
            }
         }
         .footer {
            &:hover {
               background-color: $inputgray;
               border-radius: 0 0 10px 10px;
            }
            a {
               color: $mainblue;
               display: block;
               padding:15px 10px 15px 10px;
            }
         }

         &.follow {
            margin-top:25px;
            .header {
               padding:10px;
            }
            .content {
               .card {
                  >img {
                     width:48px;
                     height:48px;
                     border-radius: 50%;
                  }
                  .card-info {
                     flex:1;
                     margin-left:10px;
                     h2 {
                        svg {
                           width:16.5px;
                           fill:$mainblue;
                           vertical-align: bottom;
                        }
                        &:hover {
                           text-decoration: underline;
                        }
                     }
                  }
                  .card-icon {
                     align-self: center;
                     a {
                        color: $mainblue;
                        font-weight: 700;
                        padding:6px 12px;
                        border-radius: 20px;
                        border:1px solid $mainblue;
                        width:80px;
                        height:32px;
                     }
                  }
               }
            }
         }

      }
      .rightside-footer {
         margin-top:15px;
         width:95%;
         margin-left:auto;
         margin-right:auto;
         padding:10px;
         padding-bottom:15px;
         ul {
            display: flex;
            flex-wrap: wrap;
            gap: 5px 15px;
            li {
               a {
                  color:rgb(91, 112, 131);
                  font-size: 13px;
                  &:hover {
                     text-decoration: underline;
                  }
               }
            }
         }
      }
   }
 }
 
 .messages-chat {
   background-color: #fff;
   position: fixed;
   bottom:0;
   right:25px;
   border-radius: 18px 18px 0 0;
   margin-left:auto;
   margin-right:auto;
   display:flex;
   align-items: center;
   padding:10px;
   width:300px;
   height:50px;
   box-shadow:0 0 4px 2px rgba($color: #000000, $alpha: 0.4);
   @media screen and (min-width:1000px) {
      right:80px;
   }
   @media screen and (max-width:768px) {
      display: none;
   }
   >section {
      display:flex;
      justify-content: space-between;
      align-items: center;
      width:100%;
      cursor:pointer;
      span {
         font-size: 14px;
         font-weight: 700;
         color:$mainblue;
      }
      .messages-icons {
         display:flex;
         justify-content: space-between;
         align-items: center;
         a {
            display:flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            &:hover {
               background-color: $hovercolor;
            }
            svg {
               fill:$mainblue;
               width:20px;
            }
         }
      }
   }

}